<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Administration panel</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div>
            <header th:replace="fragments/header :: header">
                <p>header header header</p>
            </header>
        </div>
        
        <h1 align="left">Admin panel</h1>
        
        <div>
            <div th:if="${not #lists.isEmpty(thoughts)}">
                <h3>Thoughts</h3>
                <table>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th><b>Delete</b></th>
                    </tr>
                    <tr th:each="t: ${thoughts}">
                        
                        <td th:text="${thoughts.indexOf(t)+1}"></td>
                        <td th:text="${t.text}"></td>
                        <td>
                            <form th:action="@{/admin/delete/thought/{id}(id=${thoughts.indexOf(t)+1})}" th:method="POST">
                                <input type="submit" value="Delete"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div>
            <div th:if="${not #lists.isEmpty(grunts)}"></div>
            <h2>Grunts</h2>
            <table>
                <tr>
                    <th><b>Remove</b></th>
                    <th>id</th>
                    <th>Grunt</th>
                </tr>
                <tr th:each="g: ${grunts}">
                    <td>
                        <form th:action="@{/admin/destroy/grunt/{id}(id=${g.id})}" th:method="POST">
                            <input type="submit" value="Delete"/>
                        </form>
                    </td>
                    <td th:text="${g.id}"></td>
                    <td th:text="${g.message}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>
