<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>The headers here are included in every page</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header">
            <h2 th:inline="text">Welcome back, [[${#httpServletRequest.remoteUser}]]!</h2>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Log out"/>
            </form>
            <ul>
                <li>
                    <a th:href="@{/gruntsHub}">Your grunts</a>
                </li>
                <li>
                    <a th:href="@{/myThoughts}">Your thoughts</a>
                </li>
                <!-- A10-Unvalidated Redirects and Forwards Vulnerability -->
                <li>
                    <a target="_blank" th:href="@{/coursepage}">Course page</a>
                </li>
            </ul>
        </header>
    </body>
</html>
