<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>A Hub for all your Grunts</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div>
            <header th:replace="fragments/header :: header">
                <p>The header with links to other pages</p>
            </header>
        </div>
        
        <div>
            <h2>Draft yet another grunt:</h2>
            <form method="POST" th:action="@{/gruntsHub}">
                id: <input type="text" name="id"/>
                message: <input type="text" name="message"/>
                <input type="submit" name="Grunt!"/>
            </form>
        </div>
        
        <div th:if="${not #lists.isEmpty(grunts)}">
            <h3>Here's what you've grunted so far...</h3>
            <table>
                <tr>
                    <th>Number</th>
                    <th>Message</th>
                </tr>
                <tr th:each="g: ${grunts}">
                    <td th:text="${g.id}"></td>
                    <td th:text="${g.message}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>
