<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thoughts</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <div>
            <header th:replace="fragments/header :: header">
                <p>Links to all the pages</p>
            </header>
        </div>
        
        <div>
            <h3>Add a new thought</h3>
            <form th:action="@{/myThoughts}" method="POST">
                Text:
                <input type="text" name="text" />
                <input type="submit" name="Record thought" />
            </form>
        </div>
        
        <div>
            <div th:if="${not #lists.isEmpty(thoughts)}">
                <h2>You can submit some of your thoughts here...</h2>
                <table>
                    <tr>
                        <th>Thoughts:</th>
                    </tr>
                    <tr th:each="t: ${thoughts}">
                        <!-- Text gets not escaped! Cross-site scripting possible! -->
                        <td th:utext="${t.text}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
